@import './helper.scss';
@import './TopBar.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(149, 149, 149);
}

input {
    outline: none;
    border: 0;
    color: white;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

li {
    list-style: none;
}