@function px($n) {
    @return $n / 1920 * 100rem;
}

.TopBar {
    height: px(100);
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;

    .TopBarList {
        padding-left: px(100);
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: rgb(37, 37, 37);

        .TopBarListTop {
            height: 50%;
            border-bottom: 1px solid rgb(51, 51, 51);
            line-height: px(50);
            color: rgb(149, 149, 149);
            text-align: left;

            a {
                padding: px(20);
                font-size: px(16);

                &:hover {
                    color: rgb(241, 142, 0);
                    border-bottom: px(3) solid rgb(241, 142, 0);
                    padding-bottom: px(15);
                }
            }


        }

        .TopBarListBottom {
            height: 50%;
            color: rgb(149, 149, 149);
            text-align: left;
            display: flex;
            font-size: px(15);

            a {
                position: relative;
                padding-right: px(50);
                margin-left: px(20);
                font-size: px(17);


                a::after {
                    content: "";
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;


                }

                &:hover::before {
                    transform-origin: center top;
                    transform: scaleY(1);
                    color: white;
                    transform-origin: center bottom;
                    transform: scaleY(0);
                    transition: transform 0.4s ease-in-out;
                }

                &:hover {
                    cursor: pointer;
                    color: white;
                }

                &:focus {
                    color: white;
                }

                .Icon {
                    position: absolute;
                    height: px(35);
                    width: px(35);
                    background: url(../assets/nav.png) no-repeat;
                    background-size: cover;
                    left: px(-40);
                    top: px(11);

                }
            }

            .youxizixun {
                line-height: px(50);

            }

            .zhibodaohang {
                line-height: px(50);

                .Icon {
                    background-position: 49%;
                }
            }

            .app {
                line-height: px(50);

                .Icon {
                    background-position: 62%;
                }
            }

            .row {
                background-color: rgb(149, 149, 149);
                height: px(20);
                margin-top: px(15);
                width: px(1);
            }

            .map {
                margin-left: px(250);
                color: white;
                position: relative;
                transition: all 250ms;
                transform-origin: px(6) px(3);
                line-height: px(50);

                &:hover .mapIcon {
                    transform: rotate(180deg);
                }

                &:hover .mapList {
                    display: inline-flex;

                }

                .mapList {
                    width: px(270);
                    height: px(230);
                    position: absolute;
                    top: px(45);
                    left: px(-100);
                    background-color: white;
                    display: none;
                    display: flex;
                    flex-direction: row;
                    line-height: px(25);
                    text-align: center;
                    border-radius: 2px;
                    display: none;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border: px(10) solid;
                        border-radius: px(10);
                        border-color: transparent transparent rgb(233, 233, 233) transparent;
                        top: px(-18);
                        left: px(125);
                    }

                    a {
                        font-size: px(12);
                        text-align: center;
                        color: rgb(97, 97, 97);
                        margin-left: 0;
                        padding-right: 0;
                    }

                    .first {
                        padding-top: px(5);
                    }

                    .main {
                        width: px(90);
                        height: 100%;
                        border-right: 1px solid rgb(237, 237, 237);

                        .mainTitle {
                            font-weight: bolder;
                            color: rgb(65, 65, 66);
                            background-color: rgb(233, 233, 233);
                            line-height: px(40);
                            border-right: 1px solid rgb(203, 203, 203);
                            border-top-left-radius: 2px;

                        }
                    }

                    .exportsGames {
                        width: px(90);
                        height: 100%;
                        border-right: 1px solid rgb(237, 237, 237);


                        .exportsGamesTitle {
                            font-weight: bolder;
                            color: rgb(65, 65, 66);
                            background-color: rgb(233, 233, 233);
                            line-height: px(40);
                            border-right: 1px solid rgb(203, 203, 203);


                        }
                    }

                    .mobileGames {
                        width: px(90);
                        height: 100%;

                        .mobileGamesTitle {
                            font-weight: bolder;
                            color: rgb(65, 65, 66);
                            background-color: rgb(233, 233, 233);
                            line-height: px(40);
                            border-top-right-radius: 2px;


                        }
                    }
                }




                .mapIcon {
                    width: px(10);
                    height: px(10);
                    position: absolute;
                    top: px(21);
                    left: px(68);
                    border-width: px(6) px(6);
                    border-style: solid;
                    border-color: white transparent transparent transparent;
                    transition: all 250ms;
                    transform-origin: px(6) px(3);
                }

                .mapIcon:hover {
                    transform: rotate(180deg);
                }


            }

            .search {
                width: px(150);
                height: px(30);
                margin-top: px(10);
                margin-left: px(30);
                background-color: rgb(63, 63, 63);
                color: rgb(117, 117, 117);
                font-size: px(15);
                padding-left: px(15);
                position: relative;
            }

            .searchIcon {
                background-color: rgb(63, 63, 63);
                width: px(50);
                height: px(30);
                margin-top: px(10);

                svg {
                    width: px(25);
                    height: px(25);
                    color: white;
                    margin-left: px(20);
                }

            }



            input::-webkit-input-placeholder {
                color: rgb(117, 117, 117);
                font-size: px(15);

            }

            .register {
                background-color: rgb(59, 206, 178);
                border-radius: 2px;
                border: none;
                height: px(28);
                width: px(66);
                line-height: px(28);
                margin-top: px(10);
                margin-left: px(5);
                color: white;
                text-align: center;
                font-size: px(15);
                text-align: center;
            }

            .register:hover {
                background-color: rgb(37, 179, 152);
            }





        }
    }

    .logo {
        background: url(../assets/logo.png) no-repeat;
        height: 100%;
        background-position: px(250) px(15);
        width: px(550);
        position: relative;
    }

    .logo::after {
        content: ' ';
        position: absolute;
        top: px(-100);
        right: px(-61);
        width: px(10);
        height: 100%;
        border-left: px(53) solid rgb(23, 23, 23);
        border-bottom: px(100) solid transparent;
    }

}