@function px($n) {
    @return $n / 1920 * 100rem;
}

.TopBar {
    height: px(100);
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: center;

    .TopBarList {
        padding-left: px(100);
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: rgb(37, 37, 37);
        font-size: px(13);

        .TopBarListTop {
            height: 50%;
            border-bottom: 1px solid rgb(51, 51, 51);
            line-height: px(50);
            color: rgb(149, 149, 149);
            text-align: left;

            a {
                padding: px(20);
                font-size: px(14);

                &:hover {
                    color: rgb(241, 142, 0);
                    border-bottom: px(3) solid rgb(241, 142, 0);
                    padding-bottom: px(15);
                }
            }


        }

        .TopBarListBottom {
            height: 50%;
            color: rgb(149, 149, 149);
            line-height: px(50);
            text-align: left;
            display: flex;
            font-size: px(15);

            a {
                position: relative;
                padding-right: px(50);
                margin-left: px(20);
                font-size: px(17);

                &:hover {
                    transition: all .3s cubic-bezier(.165, .84, .44, 1);
                    color: white;
                }

                &:focus {
                    color: white;
                }

                .Icon {
                    position: absolute;
                    height: px(35);
                    width: px(35);
                    background: url(../assets/nav.png) no-repeat;
                    background-size: cover;
                    left: px(-40);
                    top: px(11);

                }
            }

            .zhibodaohang {

                .Icon {
                    background-position: 49%;
                }
            }

            .app {

                .Icon {
                    background-position: 62%;
                }
            }

            .row {
                background-color: rgb(149, 149, 149);
                height: px(20);
                margin-top: px(15);
                width: px(1);
            }

            .map {
                margin-left: px(200);
                color: white;
                position: relative;
                transition: all 250ms;
                transform-origin: px(6) px(3);

                &:hover .mapIcon {
                    transform: rotate(180deg);
                }

                .mapIcon {
                    border: 1px solid red;
                    width: px(10);
                    height: px(10);
                    position: absolute;
                    top: px(21);
                    left: px(68);
                    border-width: px(6) px(6);
                    border-style: solid;
                    border-color: white transparent transparent transparent;
                    transition: all 250ms;
                    transform-origin: px(6) px(3);
                }

                .mapIcon:hover {
                    transform: rotate(180deg);
                }


            }

            .search {
                width: px(150);
                height: px(30);
                margin-top: px(10);
                margin-left: px(30);
                background-color: rgb(63, 63, 63);
                color: rgb(117, 117, 117);
                font-size: px(15);
                padding-left: px(15);
                position: relative;
            }

            .searchIcon {
                background-color: rgb(63, 63, 63);
                width: px(50);
                height: px(30);
                margin-top: px(10);

                svg {
                    width: px(25);
                    height: px(25);
                    color: white;
                    margin-left: px(20);
                }

            }



            input::-webkit-input-placeholder {
                color: rgb(117, 117, 117);
                font-size: px(15);

            }

            .register {
                background-color: rgb(40, 183, 156);
                border-radius: 4px;
                border: none;
                height: px(30);
                width: px(60);
                line-height: px(30);
                margin-top: px(11);
                margin-left: px(20);
                color: white;
                text-align: center;
                font-size: px(15);
                text-align: center;
            }





        }
    }

    .logo {
        background: url(../assets/logo.png) no-repeat;
        height: 100%;
        background-position: px(250) px(20);
        width: px(550);
        position: relative;
    }

    .logo::after {
        content: ' ';
        position: absolute;
        top: px(-100);
        right: px(-100);
        border-width: px(200) px(100);
        border-style: solid;
        border-color: rgb(23, 23, 23) transparent transparent transparent;
    }

}